@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    #przerwa {
        padding-right: 20px;
        padding-left: 20px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <br />
        <div class="row justify-content-md-center">
                <div class="column">
                    <div id="przerwa">
                        <label asp-for="Address.Street"></label>
                        <input asp-for="Address.Street" class="form-control" />
                        <span asp-validation-for="Address.Street" class="text-danger"></span>
                    </div>
                </div>

                <div class="column">
                    <div id="przerwa">
                        <label asp-for="Address.Number"></label>
                        <input asp-for="Address.Number" class="form-control" />
                    </div>
                </div>
                <div class="column">
                    <div id="przerwa">
                        <label asp-for="Address.ZipCode"></label>
                        <input asp-for="Address.ZipCode" class="form-control" />
                    </div>
                </div>
                <div class="column">
                    <div id="przerwa">
                        <label asp-for="Address.City"></label>
                        <input asp-for="Address.City" class="form-control" />
                    </div>
                </div>
            </div><br />
            <button type="submit" class="btn btn-primary">Zatwierdź</button><br />

</form>


</div>



